<div class="container">
	<div class="row margin-zero">
		<div class="col-lg-6 product-img padding-zero">
			<img src="img/dsc_0003.jpg" class="img-responsive">
		</div>
		<div class="col-lg-6">
			<h1>Chocolate Name</h1>
			<p>Product Code : {{selectedProductId}}</p>
			<h3>Choclate Flavour : Pan Flavour</h3>
			<h3>Pack Details : 20 choclates pack </h3>
			<h3>Price : Rs.200</h3>
			<h4>Order completion of pack in 5 days</h4>
			<button class="btn btn-primary">Order Now / Contact</button>
		</div>
	</div>
	<div>Overview : Here info for about the chocolate will be displayed. Info about its flavour packaging and all.Here info for about the chocolate will be displayed. Info about its flavour packaging and all.Here info for about the chocolate will be displayed. Info about its flavour packaging and all.Here info for about the chocolate will be displayed. Info about its flavour packaging and all.Here info for about the chocolate will be displayed. Info about its flavour packaging and all.</div>
	<div><a href="">Click for delivery, take away and other information.</a></div>
</div>